* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

html{
    font-size: 99.5%;
}





/* header responsive code  */
  @media(max-width:998px) {
    html{
        font-size: 55%;
    }

    
}

@media(max-width:75px) {
    html {
        font-size: 45%;
    }
  }

  @media only screen and (max-width: 600px) and (min-width: 400px){
     
    .navbar{
        display: flex;
        margin-right: 30rem;
    }
    
    .mid-container .right .square:nth-child(1) {
        right: 6.25rem;
        top: -9.3rem;
        margin-right: 25rem;
    }
    .mid-container .right .square:nth-child(2) {
        right: 31.25rem;
        top: 6.25rem;
        margin-right: 17rem;
    }
    .mid-container .right .square:nth-child(1) .icon {
        background-color: #FFFFFF;
        height:  2.5rem;
        width:  5rem;
        color: #000000;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1.4rem;
        margin-top:  .1rem;
        margin-bottom:  .75rem;
    }
    .mid-container .right .square:nth-child(1) .icon i {
        font-size: 1.6rem;
    }
    .mid-container .right .square:nth-child(2) .icon {
        background-color: #FFFFFF;
        height: 2.5rem;
        width:  5rem;
        color: #000000;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1.25rem;
        margin-top: 1.25rem;
        margin-bottom:  .6rem;
    }
    .mid-container .right .square:nth-child(2) .icon i {
        font-size: 1.6rem;
    }
    .square:first-child .circle-line {
        position: absolute;
        height:  4.3rem;
        width: .1rem;
        background-color: #FFFFFF;
        top:  9.6rem;
        left:  13.75rem;
    }
    .square:last-child .circle-line {
        position: absolute;
        height:  4.3rem;
        width: .1rem;
        background-color: #FFFFFF;
        right: -2.25rem;
        top:  1.25rem;
        transform: rotate(-90deg);
    }
    .circle-line .circle {
        position: absolute;
        width:  1.25rem;
        height:  1.25rem;
        border-radius:  3.1rem;
        background-color: #FFFFFF;
        bottom: 0rem;
        left: -0.5rem;
    }
    

  }

  

body{
background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7)
, rgba(0,0,0,0.4)), url("./assets/bg.jpg") ;
/* width: 100vw; */
height: 100vh;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
font-family: "Poppins";
/* margin: 0 auto ; */
}

.main-container{
    width: 80rem;
    margin: 0rem auto;
}

.navbar{
    display: flex;
    height: 20vh;
    align-items: center;
    justify-content: space-between;
}

 .logo img{
    width: 7.5rem;
}

 .menu {
    list-style-type: none;
    display: flex;
    color: #FFFFFF;
    gap: 3rem;
    align-items: center;
    font-weight: 500;
}

.menu-item {
    cursor: pointer;
}

.menu-item:last-child {
    text-align: center;
}
.line::after {
    content: "";
    height:  0.125rem;
    border-radius:  2.5rem;
    background-color: #FFFFFF;
    width: 100%;
    display: block;
    margin-top: 1.25rem;
    border:  0.25rem solid red;
}

/* left section start  */
.mid-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    height: 50vh;
}
.mid-container .left h1 {
    font-size: 3.4rem;
}
.mid-container .left button {
    background-color: transparent;
    border: .175rem solid #FFFFFF;
    color: inherit;
    border-radius: 2.5rem;
    padding:  .8rem 2.5rem;
    cursor: pointer;
    margin-top:  2.5rem ;
    font-weight: 600;
}
.mid-container .right {
    position: relative;
}
.mid-container .right .square {
    background-color: rgba(255,255,255,.4);
    margin-bottom:  1.25rem;
    position: absolute;
    right: 0rem;
    width: 15.6rem;
    padding: .6rem 1.25rem;
    height: 9.6rem;
}
.mid-container .right .square:last-child {
    background-color: rgba(255,255,255,.4);
    margin-bottom: 1.25rem;
    position: absolute;
    right: 0rem;
    width: 15.6rem;
    padding:  0.6rem 1.25rem;
    height: 10.25rem;
}
.mid-container .right .square:nth-child(1) {
    right: 6.25rem;
    top: -9.3rem;
}
.mid-container .right .square:nth-child(2) {
    right: 31.25rem;
    top: 6.25rem;
}
.mid-container .right .square:nth-child(1) .icon {
    background-color: #FFFFFF;
    height:  2.5rem;
    width:  5rem;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.4rem;
    margin-top:  .1rem;
    margin-bottom:  .75rem;
}
.mid-container .right .square:nth-child(1) .icon i {
    font-size: 1.6rem;
}
.mid-container .right .square:nth-child(2) .icon {
    background-color: #FFFFFF;
    height: 2.5rem;
    width:  5rem;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom:  .6rem;
}
.mid-container .right .square:nth-child(2) .icon i {
    font-size: 1.6rem;
}
.square:first-child .circle-line {
    position: absolute;
    height:  4.3rem;
    width: .1rem;
    background-color: #FFFFFF;
    top:  9.6rem;
    left:  13.75rem;
}
.square:last-child .circle-line {
    position: absolute;
    height:  4.3rem;
    width: .1rem;
    background-color: #FFFFFF;
    right: -2.25rem;
    top:  1.25rem;
    transform: rotate(-90deg);
}
.circle-line .circle {
    position: absolute;
    width:  1.25rem;
    height:  1.25rem;
    border-radius:  3.1rem;
    background-color: #FFFFFF;
    bottom: 0rem;
    left: -0.5rem;
}

